[user]
    name = Jeremy Hertel
    email = dev@jhert.com
    signingkey = 0EBB61F9450E29D1
[alias]
    s = status
    st = status
    sw = switch
    br = branch
    ls = ls-files
    co = checkout
    graph = log --all --color --graph --pretty=format:'%C(auto)%h%C(auto)%d%C(reset) %C(green)(%cr)%C(reset)%n %C(white)%s %C(bold white)-- %an%C(reset) %C(reset)%w(0,6,6)%+b'
    ds = diff --stat
    fixup = commit --ammend --no-edit
    ammend = commit --ammend
[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
[init]
	defaultBranch = master
[push]
    default = current
[pull]
    rebase = false
[commit]
    gpgSign = true
[url "git@github.com:"]
    insteadOf = https://github.com/
