#folders
elpa
straight
tramp
.python-environments
transient
anaconda-mode
multisession
tutorial
tree-sitter/*
!tree-sitter/.gitkeep
eln-cache

etc/cache
etc/private
etc/url

#files
eshell/history
eshell/lastdir

vendor/*
!vendor/.gitkeep

*.elc
*~
*.swp
*.dat

session.*

mu4e-config.el
projectile-bookmarks.eld
network-security.data
forge-database*.sqlite
