# packages
elpa
straight

# cache, history, package configuration
cache
eln-cache
mason
multisession
tutorial
*.sqlite

tree-sitter/*
!tree-sitter/.gitkeep

eshell/history
eshell/lastdir

# editor files
*~
*.swp
*.elc

# private configuration
private.el
local.el
